In [1]:
import pandas as pd
from pathlib import Path
import os

In [4]:
PROJ = Path(os.path.realpath("."))
ROOT = PROJ.parents[1]

In [9]:
trade = pd.read_csv(ROOT / "data/raw/country_hsproduct4digit_year.csv", low_memory=False)
trade.head(2)

,location_id,product_id,year,export_value,import_value,export_rca,product_status,cog,distance,normalized_distance,normalized_cog,normalized_pci,export_rpop,is_new,hs_eci,hs_coi,pci,location_code,hs_product_code
0,0,650,1995,18008,7200,0.133305,NaN,0.001366,0.987482,1.315366,-0.212899,0.028159,0.0,False,-0.468199,-0.696722,0.036665,ABW,0101
1,0,650,1996,0,4021,0.000000,NaN,0.000852,0.992846,1.156393,-0.355658,-0.052312,0.0,False,-0.663174,-0.704138,-0.047203,ABW,0101

In [10]:
trade.to_parquet(
    ROOT / "data/raw/country_hsproduct4digit_year.parquet",
    index=False,
    engine="pyarrow",
)